@import url(https://fonts.googleapis.com/css?family=Raleway);
/* h2 {
  vertical-align: center;
  text-align: center;
} */

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  font-family: "Poppins", sans-serif;
  background-color: #0984e3;
}
main {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #b2bec3;
  max-width: 1200px;
}

/* main {
  padding: 1em;
  margin-left: 130px;
  margin-right: 130px;
  overflow: hidden;
} */

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

    

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
    }

    section {
      padding: 40px;
    }

    h1, h2, h3 {
      color: #333;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    /* Styles for specific sections */
    #about {
      background-color: lightgreen;
    }

    #projects {
      background-color: lightpink;
    }

    #projects li {
      margin-bottom: 20px;
    }
  