* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    body {
      font-family: Arial, sans-serif;
      background-color: aqua;
      color: #333;

    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
    }

    section {
      padding: 40px;
    }

    h1, h2, h3 {
      color: #333;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    /* Styles for specific sections */
    #about {
      background-color: lightpink;
    }

    #projects {
      background-color: lightblue;
    }

    #projects li {
      margin-bottom: 20px;
    }
    .logo img {
      height: 50px;
      width: auto;
    }
  